:root {
  --first-color: hsl(198, 36%, 58%);

  --second-color: hsl(60, 2%, 90%);

  --third-color: hsl(0, 0%, 27%);

  --fourth-color: hsl(1, 48%, 52%);
  --button-color: hsl(206, 100%, 37%);
  --fifth-color: hsl(43, 71%, 79%);
  --header-font: "Lemonada", cursive;
  --header-color: #fff;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --font-medium: 500;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

body {
  margin: 0;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: var(--fifth-color);
  padding: 12px 24px;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);*/
}
nav h1 {
  font-size: 2.5rem;
  padding: 0 16px;
  color: var(--header-color);
  font-weight: var(--font-medium);
  font-family: var(--header-font);
}

nav a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: var(--normal-font-size);
  color: var(--third-color);
  top: -50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navlinkdiv {
  display: flex;
  justify-content: end;
}

.link-container {
  position: absolute;
  top: 20px;
}

.link-container a {
  text-align: start;
}

.home-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 81vh;
  max-width: 100vw;
  background-image: pokemon;
}
.cards-container {
  height: 500px;
}
.home-page h1 {
  background-color: transparent;
  font-size: 30px;
  font-weight: 500;
  width: var(--font-medium);
  font-family: var(--header-font);
  border-radius: 10px;
}

.pokemon-info {
  height: 800px;
  max-width: 100vw;
  text-align: center;
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  color: var(--header-color);
}

.section-title input {
  width: 12.5rem;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--fifth-color);
  font-size: var(--h3-font-size);
  padding-left: 10px;
}

.section-title button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: var(--second-color);
  background-color: var(--button-color);
}

.section-title button:hover {
  cursor: pointer;
}

.display-section {
  background-color: var(--third-color);
  color: var(--fifth-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 20px;
}

.pokemon-details {
  text-align: left;
  height: 100%;
  overflow-y: visible;
}
.pokemon-details h1 {
  margin-left: -60px !important;
}

.pokemon-cards {
  height: 550px;
}

footer {
  text-align: center;
  width: 100%;
  height: 3rem;
  background-color: var(--fifth-color);
  margin-bottom: -15px !important;
}
footer p {
  margin: 0% !important;
  padding-top: 10px;
  margin-top: 10px;
  color: var(--third-color);
}
.cards-container {
  height: 900px;
  z-index: 2;
  width: 100%;
  top: 20px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  font-family: "Open Sans", Helvetica, sans-serif;
  margin-bottom: 40px;
  overflow: visible;
}

.cards {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  text-align: center !important;
  width: 200px;
  height: 300px;
  margin: 10px 10px 10px 10px;
  font-weight: bold;
  background-color: #0077b6;
  font-size: 15px;
  line-height: 11px;
  margin-bottom: 2px;
  color: #fff;
  border-radius: 10px !important;
}
